body {
  background-image: url('/Portafolio/img/Degradado_3.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
  background-attachment: fixed; /* Fija la imagen en su posición al hacer scroll */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* BOTON NAVBAR*/
.boton_nav i {
  color: black;
  font-size: 1.5rem;
}

/* TODO  */
.container {
  margin: 0;
  padding: 0;
  /* Arriba | Derecha | Abajo | Izquierda 
  margin: 15rem 0.6rem 15rem 0.6rem;*/
  margin: 15rem 0.5rem; /* Margen para pantallas grandes */
}

/* General de las cards */
.card-styles {
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 10px;
  margin-bottom: 1.5rem; /* Margen inferior reducido */
}

/* ///////////// DATOS DEL PERFIL   ///////// */

/* Imagen del perfin */
.perfil {
  display: flex;
  justify-content: center;
}

.cont-img {
  width: 10rem;
}

.col img {
  width: 2.3rem;
  height: 2.3rem;
}

.custom-img {
  border-radius: 8px;
  width: 10rem; /* Establece el ancho deseado */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  display: block; /* Asegura que la imagen sea un elemento de bloque */
  margin-top: -4.3rem; /* Mueve la imagen hacia arriba para que sobresalga del aside */
  position: relative; /* Permite ajustar la posición de la imagen */
  z-index: 1; /* Asegura que la imagen esté delante de otros elementos si es necesario */
}

/* NOMBRE Y OCUPACION */
.info_Personal {
  /* margin-bottom: 1rem; Ajusta el margen inferior entre cada sección */
}

.name {
  padding-top: 0.8rem;
}
.name h3 {
  font-size: x-large;
}

.name h6 {
  font-size: medium;
}
/* iconos de las redes sociales */
.iconos_redes {
  display: flex; /* Usa flexbox */
  flex-direction: row; /* Acomoda los elementos verticalmente */
}

.iconos_redes img {
  max-width: 5rem;
  max-height: 5rem;
  cursor: pointer;
}
.iconos_redes img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.info_contact {
  /* border: 1px solid #c2bebe; */
  border-radius: 10px;
  background-color: rgba(235, 235, 235, 0.856);
  padding-left: 5px;
}

.icon_info {
  margin-top: 0.2rem;
  width: 2.5rem; /* Establece un ancho máximo rgba(243, 243, 243, 0.856); */
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 254, 254, 0.856);
  border-radius: 10px;
}

.icon_info i {
  font-size: 1.4rem;
}

.border-b {
  border-bottom: 0.1rem solid #e0dede;
}
.Title_data {
  font-size: 1rem;
  font-style: italic;
}
.Informacion {
  font-size: 0.85rem;
}

.Extens {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Esto agrega puntos suspensivos (...) si el texto es demasiado largo */
}

.align-items-center {
  align-items: center;
}
/* ///////// CONTENEDOR //////// */

.main {
  /* Contenedores en la misma*/
  margin: 6rem 0.7rem; /* Margen para pantallas medianas y grandes */
}

/* ///////// NAVEGACION ////// */
.navegacion {
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Acomoda los elementos verticalmente */
  padding: 0 0.5rem;
}

.icons {
  margin-bottom: 0.5rem;

  border-radius: 5px;
  border: 1px solid #c2bebe;

  text-align: center; /* Centra el contenido horizontalmente */
  /* Arriba | Derecha | Abajo | Izquierda */
  padding: 0rem 0.5rem;
}

.icons i {
  padding-top: 0;
  display: block; /* Hace que el icono sea un bloque para que ocupe todo el ancho disponible */
  font-size: 2rem;
}

.icons span {
  display: block; /* Hace que el span sea un bloque */
}

.offcanvas-body {
  /* Arriba | Derecha | Abajo | Izquierda */

  margin: 0rem 2rem 0 1.5rem;
}
.menu-Sidebar {
  border: 1px solid #c2bebe;
  border-radius: 8px;
}

ul {
  list-style-type: none; /* Elimina el estilo de viñeta */
}
/* Media Query */
@media (max-width: 762px) {
  /* Para pantallas pequeñas */

  .navegacion {
    flex-direction: row;
  }
  .icons {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }

  .icon_info {
    margin-top: 0.2rem;
    max-width: 5rem; /* Establece un ancho máximo rgba(243, 243, 243, 0.856); */
    max-height: 2.6rem;
  }
}

/* Para pantallas más grandes */
@media (min-width: 992px) {
  .iconos_redes img {
    max-width: 5rem;
    max-height: 5rem;
  }
}

/* Para pantallas medianas */
@media (max-width: 991px) {
  .iconos_redes img {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
}
