
# Mostrar URL de manera amigable 
RewriteEngine On 
RewriteBase /Portafolio/ 

# Vista Home 
RewriteRule ^Home$ Views/Home.php [L]
RewriteRule ^About$ Views/About.php [L]
RewriteRule ^a$ Views/a.php [L]
RewriteRule ^b$ Views/b.php [L]
RewriteRule ^c$ Views/c.php [L]



# Vista para Skills
#RewriteRule ^habilidades$ Views/skills.php  [L]
## Vista para proyectos
#RewriteRule ^Proyectos$ Views/Projects.php  [L]
## Vista para Experiencia
#RewriteRule ^Experience$ Views/Projects.php  [L]
#RewriteRule ^Hola$ Views/index.php [L]


