@import url("Root.css");
@import url("Cards.css");
@import url("Personal-data.css");





/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .profile-image-container {
    top: -80px;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) {
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
}

/* Large devices (desktops) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}

/* Extra extra large devices */
@media (min-width: 1400px) {
}
