/* ///////// NAVEGACION ////// */
@import url("Root.css");

.card-style-nav {
  max-width: 60px; /* Ajusta el ancho máximo según tu preferencia */
  min-width: 50px; /* Evita que sea demasiado pequeña */
} 
.navegacion {
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Acomoda los elementos verticalmente */
  padding: 0 0;
  margin: 0 0 !important;
}

.icons {
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 0 0 0.3rem 0;
  padding: 0.6rem;
  /* margin-bottom: 0.9rem; */
  text-align: center; /* Centra el contenido horizontalmente */
  border: 1px solid #c2bebe;
  border-radius: 8px;
  -webkit-box-shadow: -1px 2px 12px -1px rgba(222, 213, 222, 1);
  -moz-box-shadow: -1px 2px 12px -1px rgba(222, 213, 222, 1);
  box-shadow: -1px 2px 12px -1px rgba(222, 213, 222, 1);
}

.icon-cont svg {
  fill: #666666; /* Hace que el SVG herede el color del texto */
 }

.icon-cont svg:hover {
  fill: var(--color-Pink);
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.Button-Less {
  cursor: pointer;
}
/* 
.icon-cont {
  padding: 0.4rem;
 
  border-radius: 10px;


} */

.Button-Less {
  font-size: 1.5rem;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.ButtonHome {
  /* Agrega una transición para la opacidad */
  transition: opacity 0.5s ease;
}
.Button-Less i:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.4s;
  color: var(--color-blue);
}

.icon-cont a {
  text-decoration: none;
  color: var(--color-secundario);
}

.icon-cont a span {
  font-size: 0.9rem;
  font-weight: 400;
}

.icon-cont a i {
  font-size: 1.5rem;
}

.icon-cont a:hover i {
  transform: scale(1.3);
  transition-duration: 0.4s;
  color: var(--color-Pink);
}

.icons i {
  padding-top: 0;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}
*/ .icons span {
  display: block; /* Hace que el span sea un bloque */
}

.offcanvas-body {
  /* Arriba | Derecha | Abajo | Izquierda */

  margin: 0rem 2rem 0 1.5rem;
}
.menu-Sidebar {
  border: 1px solid #c2bebe;
  border-radius: 8px;
}

ul {
  list-style-type: none; /*Ocultamos texto*/
}

@media (min-width: 769px) and (max-width: 950px) {
  .icon-cont a span {
    display: none;
  }
}
