/* ///////// NAVEGACION ////// */
@import url("Root.css");

.navegacion {
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Acomoda los elementos verticalmente */
  padding: 0 0.5rem;
}

.icons {
  margin-bottom: 0.9rem;
  /* border: 1px solid #c2bebe; */
  text-align: center; /* Centra el contenido horizontalmente */
}

.Button-Less{
  font-size: 1.5rem;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

}
.ButtonHome {
    /* Agrega una transición para la opacidad */
    transition: opacity 0.5s ease;
}
.Button-Less i:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.4s;
  color: var(--color-blue);
}

.icon-cont {
  padding: 0.4rem;
  margin: 0 1rem;
   
  border: 1px solid #c2bebe;
  border-radius: 10px;

  -webkit-box-shadow: -1px 2px 12px -1px rgba(222,213,222,1);
-moz-box-shadow: -1px 2px 12px -1px rgba(222,213,222,1);
box-shadow: -1px 2px 12px -1px rgba(222,213,222,1);
}

.icon-cont a {
  text-decoration: none;
  color: var(--color-secundario);
}

.icon-cont a span {
  font-size: 0.9rem;
  font-weight: 400;
}

.icon-cont a i {
  font-size: 1.5rem;
}

.icon-cont a:hover i {
  transform: scale(1.3);
  transition-duration: 0.4s;
  color: var(--color-blue);
}

/* 

.icons i {
  padding-top: 0;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
} */

.icons span {
  display: block; /* Hace que el span sea un bloque */
}

.offcanvas-body {
  /* Arriba | Derecha | Abajo | Izquierda */

  margin: 0rem 2rem 0 1.5rem;
}
.menu-Sidebar {
  border: 1px solid #c2bebe;
  border-radius: 8px;
}

ul {
  list-style-type: none; /*Ocultamos texto*/
}

@media (min-width: 769px) and (max-width: 950px) {
  .icon-cont a span {
    display: none;
  }
}
