 
.profile-image-container {
  position: absolute;
  top: -85px; /* Hace que sobresalga hacia arriba */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.profile-image {
  width: 155px;
  height: 155px;
  border-radius: 50%; /* Hace la imagen redonda */
  border: 4px solid white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

a.maps {
  color: inherit;       /* hereda el color del contenedor/padre */
  text-decoration: none; /* quita el subrayado */
}

.icono-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

 
/* Transiciones y efectos generales */
.icono-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

/* Hover normal */
.icono-hover:hover {
  transform: scale(1.2);
filter: drop-shadow(0 0 0.75rem rgb(206, 204, 205));
  border-radius: 8px;
}

/* Efecto blur en los íconos NO activos cuando alguno está en hover */
.lista-redes:hover .icono-hover:not(:hover) {
  filter: blur(1.5px);
  opacity: 0.5; /* Opcional: desvanecer un poco */
}

.cont-texto {
  display: inline-block;     /* opcional si quieres que respete el ancho del padre */
  max-width: 100%;           /* evita que se salga del padre */
  overflow-wrap: break-word; /* permite cortar palabras largas */
  word-break: break-all;     /* fuerza el quiebre si es necesario */
  white-space: normal;       /* evita que todo quede en una sola línea */
}


 
/* 
.iconos_redes{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
  */