/* variables.css */

:root {
  --color-gray: rgba(235, 235, 235, 0.856);
  --color-gray-2: rgba(218, 217, 217, 0.856);

  --color-white:  rgba(255, 255, 255, 0.856);
  --color-black: black;
  --color-blue:  #1e8de2;
  --color-Pink:  #d188b9;
  --color-fondo: #f8f9fa;

}


.Sub-1{
  font-size: x-large;
}

.Sub-2{
  font-size: large;
}


.Sub-3{
  font-size: large;
}


/* PALETA DE COLORES 
 #d9d5e8  
 #1e8de2  
 #c87eac  
 #7fadec  
 #ce9cc1  
 #a4bbec  
 #d2b0d0  
 #b8c4ea 

*/