@import url("Root.css");

.list-blue,
.list-pink {
  margin: 0;
  padding: 0.15rem 0.29rem;
  border-radius: 50%;
}

.list-blue{
  background-color: #1e8de211;
  border: 1px solid #1e8de252;
  fill: var(--color-blue);
}
.list-pink{
  background-color: #d188b92a;
  border: 1px solid #d188b95d;
 fill: var(--color-Pink);
  stroke: var(--color-Pink) !important; 
 
}